@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cabin:wght@600&family=Josefin+Sans:wght@700&family=Teko:wght@700&family=Ubuntu:ital@1&display=swap');






#root{
    width: 100vw;
    overflow-x : hidden;
    display: flex;
    flex-direction: column;
}
#root::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
